.navbar {
    height: 100px;
    background-image: linear-gradient(to right, #1A2980 0%, #2955b4 51%, #298bdb 100%);
}

.hover-shadow:hover {
    background-color: #d1e8ee;
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 768px) {
  .same-line-sm {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
  }

  .same-line-sm span {
    display: inline-block;
  }
}



