.navbar {
    height: 100px;
    background-image: linear-gradient(to right, #1A2980 0%, #2955b4 51%, #298bdb 100%);
}

.btns {
    font-size: 28px;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    height: 300px;
    background-image: linear-gradient(to right, #28569b 0%, #2949b4 51%, #29b7db 100%);
    color: rgb(255, 255, 255);
    border: #ffffff;
    display: flex;
    align-items: center;
}

.btns:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(161, 208, 230, 0.15);
    opacity: 0.95;
}